@import "../../../style.scss";

.play_sec {
  @include themed {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    @include tablet {
      padding-top: 60px;
    }

    .row {
      display: flex;
      align-items: center;
      height: calc(600px - 90px);
      gap: 40px;
      @include tablet {
        flex-direction: column;
        height: 100vh;
        columns: 2;
        column-gap: 10px;
        column-fill: balance;
      }
      @include mobile {
        gap: 20px;
      }
      .left {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include tablet {
          flex: inherit;
          width: 100%;
        }
      }
    }
    .info {
      padding: 20px 100px 20px 20px;
      background: #222;
      display: inline-block;
      position: absolute;
      bottom: 20%;
      left: -100%;
      @include mobile {
        padding: 10px;
        left: 0;
        bottom: 10px;
      }
      h4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        font-weight: 400;
        gap: 5px;
        @include mobile {
          font-size: 14px;
        }
        span {
          font-size: 10px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 3px;
          @include mobile {
            letter-spacing: 2px;
          }
        }
      }
      transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
    }
    .hvr {
      cursor: pointer;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      &:hover {
        .info {
          left: 0;
        }
      }
    }
  }
}
