.verify_code {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  input {
    border: 1px solid #2a2a2a;
    outline: none;
    padding: 20px;
    background: #2a2a2a;

    &::placeholder {
      color: #656565;
    }
  }

}
.booking_con {
  .seats_row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    .seat_box {
      font-size: 10px;
      font-weight: 400;
      padding: 4px 8px;
      background: #ac3838 !important;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
  }
}
