@import "../../../style.scss";


.stairs {
  @include themed {
    display: flex;
    flex-direction: column;
//     @include mobile {
//         transform: scale(0.5);
//         -webkit-transform: scale(0.5);
//         -moz-transform: scale(0.5);
//         -ms-transform: scale(0.5);
//         -o-transform: scale(0.5);
// }
    .step {
      width: 45px;
      height: 13px;
      border: 1px solid #bcbcbc;
    }
  }
}
