*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  
  color: #ddd;

}
body{
  background: #101010;
}
img{
  vertical-align: middle;
}
ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 1320px;
  margin: 0 auto;
}
@font-face {
  font-family: "myfont"; /* Name to reference the font */
  src: url("../assets/myfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
