@import "../../../style.scss";

.upcoming {
  @include themed {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    @include tablet {
      padding-top: 60px;
    }
    @include mobile {
      padding: 0 10px;
      padding-top: 60px;
    }

    .content,
    .content_mbl {
      display: flex;
      align-items: center;
      height: 200px;
      margin-bottom: 30px;
      @include tablet {
        height: 150px;
        margin-bottom: 20px;
      }
      @include mobile {
        height: 120px;
      }
      .item1 {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
          flex: 0.8;
        }
        @include mobile {
          flex: 0.5;
        }
        .date {
          border-right: 1px solid #bcbcbc;
          padding: 0 20px;
          @include mobile {
            padding: 0 15px;
          }
          
          &:last-child {
            border-right: none;
            padding: 0 0 0 20px;
            @include mobile {
              padding: 0 0 0 15px;
            }
          }
          h4 {
            font-size: 65px;
            @include mobile {
              font-size: 30px;
            }
          }
        }
      }
      .item2 {
        flex: 1.55;
        border-left: 1px solid #bcbcbc;
        border-right: 1px solid #bcbcbc;
        @include tablet {
          border-right: none;
        }
        .play {
          padding: 40px 20px 40px 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          @include tablet {
            padding: 10px 20px;
          }
          @include mobile {
            padding: 10px;
          }
          h4 {
            font-size: 40px;
            font-weight: 300;
            @include tablet {
              font-size: 22px;
              font-weight: 500;
            }
            @include mobile {
              font-size: 14px;
            }
          }
          h5 {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 2px;
            @include tablet {
              font-size: 14px;
            }
            @include mobile {
              letter-spacing: 1px;
              font-size: 10px;
            }
          }
        }
      }
      .item3 {
        flex: 1.2;
        @include mobile {
          flex: 0.8;
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          @include tablet {
            gap: 10px;
          }
          @include mobile {
            gap: 10px;
            margin-top: -65px;
          }
          .event_btn {
            background: #222;
            padding: 15px 30px;
            @include tablet {
              padding: 10px;
            }
            @include mobile {
              font-size: 14px;
              padding: 10px;
            }
          }
          .read {
            background: #3b3b3b;
          }
        }
      }
    }
    .content {
      @include tablet {
        display: none;
      }
    }
    .content_mbl {
      display: none;
      flex-direction: column;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: fit-content;
      
      @include tablet {
        display: flex;
      }
      @include mobile {
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        @include mobile {
          margin-bottom: 15px;
        }
      }
    }
  }
}
